.pytest_cache
__pycache__
*.pyc
.DS_Store

# Home Assistant test config runtime files
config/*
!config/configuration.yaml
!config/ui-lovelace.yaml
.cache/

# OS / IDE
.DS_Store
.vscode/
GEMINI.md

# Python Virtual Environments
venv/
.venv/

# Frontend Dependencies
node_modules
bun.lock
yarn.lock
